.Home {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
}

.HomeCard {
    flex-basis: 30%;
    text-decoration: none;
    color: inherit;
    border: var(--bg-light) solid 0.3em;
    border-radius: 0.4em;
    margin-bottom: 1em;
    background-color: var(--bg-light);
}

.HomeCard:hover {
    background-color: var(--bg-less-light);
    border-color: var(--bg-less-light);
}

.HomeCard > img {
    font-size: 85%;
    height: 4em;
}

.HomeCard > img::after {
    content: "";
    display: block;
    clear: both;
}