/* Navigatie */

nav {
    background-color: var(--bg-light);
    font-size: 120%;
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
}
  
ul.navList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

li.navItem a {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

li.navItem a:hover {
    text-decoration: underline;
}

li.navItem {
    display: block;
    padding: 1em;
    margin: 0;
}

li.navItem p {
    margin: 0;
    padding: 0;
}

li.navRight {
    margin-left: auto;
}

/* LOGO */
li.logo{
    align-self: center;
}

li.logo:hover{
    text-decoration: none;
}

li.logo img{
    font-size: 85%;
    height: 2em;
}